*{
    margin:0;
    padding:0;
}
body {
    background:#63CAA7;
}
header,.main,footer{
    background:#63CAA7;
    width: 90%;
    max-width:1000px;
    margin:20px auto
}
header nav{
    background: #ffe3b3;
    overflow: hidden;
    border: 2px solid #000 ;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    float: left;
}
header nav ul li a{
    padding:10px 20px;
    display:block;
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
}
header nav ul li a:hover{
    background: #26798e;
}
.main .articles {
    width:68.5%;
    margin-right: 1.5%;
    float:left;
}
.main .articles article{
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
}
aside{
    width: 30%;
    height: 280px;
    background: rgb(121, 86, 121);
    color:#fff;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}
footer{
    background:#ffe3b3;
    color:rgb(5, 5, 5);
    clear:both;
    padding:10px 0px;
    text-align: center;
}
section {
    width: 90%;

}
form{
    margin: 1%;
}
div.product-card {
    width: 280px;
    height: auto;
    margin: 1%;
    padding-bottom:1%;
    padding-top: 1%;
    background-color: rgb(201, 228, 245);
    display:inline-block;
    border: 2px solid #000 ;
}
div.product-card:hover{
    background-color: rgb(129, 137, 172);
}
#objetos{
    text-align: center;
    width: 70%;
    height: auto;
    display: inline-block;
    margin-left:300px;
}
div.product-card .btnAgregado:hover{
    background-color:#ffe3b3;
    color: rgb(5, 5, 5);
}
form button:hover{
    background-color: rgb(146, 140, 140);
    color: rgb(0, 0, 0);
}
div.product-card img{
    width: 60%;
    height: 250px;
    object-fit: cover;
}
div.product-card .btnAgregado{
    display:inline-block;
    margin-bottom: 10px;
    font-size: 15px;
}
div.logotipo img{
    width: 200px;
    margin-left: 30px;
    margin-top: -80px;
}
div.logotipo{
    width: 300px;
    float:left
}
div.titulo{
    margin-top: 100px;
    margin-bottom: 50px;
    padding-right:300px;
    border: 2px solid #000 ;
    width: 700px;
    background: #ffe3b3;
}
div.titulo h1{
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    height: auto;
    color:#080808;
    font-family: "Times New Roman";
    text-align:right;
}

#lista-carrito h3{
 background-color:#ffe3b3;
 width:70%;
 height:auto;
 padding: 10px;
 border: 2px solid #000 ;
 margin-left: 300px;
 text-align: center;
 font-size: 23px;
}
nav ul li.carrit{
    background-color: #5aa5b8;
}
nav ul li.carrit :hover{
    background-color:#6566a5;
}
.info{
    background-color: rgb(201, 228, 245);
    font-size: 20px;
    border-radius: 20px;
    border:none;
}
.info:hover{
    background-color: rgb(162, 159, 170);
}
p{
    padding-bottom: 5px;
}
.cart{
    background-color:#26798e;
    border: none;
    width: 127px;
}
.carrit{
    width: 127px;
    text-align: center;
}
